---
import SectionHeading from "../SectionHeading.astro";
import SectionSubheading from "../SectionSubheading.astro";
import ButtonCta from "../utils/Buttons/Button_Cta.astro";
import Card from "../utils/Cards/Card_Project.astro";

const allProjects = await Astro.glob("../../content/projects/*.md");
---

<div id="projects">
  <SectionHeading>Selected Projects</SectionHeading>
  <SectionSubheading
    >Here are some of my recent projects. I'm always working on something new,
    so check back often!</SectionSubheading
  >
  <div class="flex flex-col gap-y-3">
    {
      allProjects.map((project) => (
        <Card
          title={project.frontmatter.title}
          description={project.frontmatter.description}
          image={project.frontmatter.image}
          link={project.frontmatter.link}
          tech={project.frontmatter.tech}
        />
      ))
    }
  </div><ButtonCta title="View Full Project Archive" href="/archive" />
</div>
