---
interface Props {
  date: string;
  role: string;
  company: string;
  description: string;
  href: string;
}

const { date, role, company, description, href } = Astro.props;
---

<a href={href} target="_blank"
  ><div
    class="group flex flex-col lg:flex-row gap-x-5 py-5 lg:px-6 rounded-md ease-in duration-100 hover:bg-purple hover:bg-opacity-10"
  >
    <div class="lg:w-1/5">
      <p class="text-xs uppercase mb-2 lg:mt-2">{date}</p>
    </div>
    <div class="lg:w-4/5">
      <h3
        class="mb-2 text-lg font-semibold text-heading group-hover:text-purple ease-in duration-100"
      >
        {role} · {company}<span
          ><i class="fa-solid fa-arrow-right -rotate-45 text-xs pl-2"></i></span
        >
      </h3>
      <p class="text-sm">
        {description}
      </p>
    </div>
  </div></a
>
