---
import PillsTech from '../Pills/Pills_Tech.astro';

interface Props {
  year?: number;
  title: string;
  description?: string;
  company?: string;
  image?: string;
  href: string;
  tech: string[];
}

const { title, description, image, href, tech } = Astro.props;
---

<a href={href} target="_blank">
  <div class="group flex flex-col-reverse md:flex-row gap-x-6 py-5 lg:px-6 rounded-md ease-in duration-100 hover:bg-purple hover:bg-opacity-10">
    <div class="w-52 lg:w-1/4">
      <div class="shadow-xl overflow-hidden rounded-sm">
        <img src={image} alt={title} loading="lazy" />
      </div>
    </div>
    <div class="lg:w-3/4 xs:mb-3">
      <h3 class="mb-2 flex gap-x-[6px] text-lg font-semibold text-heading group-hover:text-purple ease-in duration-100">
        {title}<span
        ><i aria-hidden="true" class="fa-solid fa-arrow-right -rotate-45 text-xs ease-in duration-100 group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"></i></span
      >
      </h3>
      <p class="mb-4 text-sm">
        {description}
      </p>
      <ul class="flex flex-wrap gap-2">
        {
          tech.map((el) => (
            <PillsTech>{el}</PillsTech>
          ))
        }
      </ul>
    </div>
  </div>
</a>
