---
import ButtonExternalXS from '../Buttons/Button_ExternalXS.astro'
import PillsTech from '../Pills/Pills_Tech.astro'

interface Props {
  year?: number
  title: string
  description?: string
  company?: string
  image?: string
  href: string[]
  tech: string[]
}

const { title, description, image, href, tech } = Astro.props
---

<li
  class="group relative flex flex-col-reverse md:flex-row gap-x-6 py-5 lg:px-6 rounded-md">
  <div class="w-52 lg:w-1/4">
    <div class="shadow-xl overflow-hidden rounded-sm">
      <img
        src={image}
        alt={title}
        loading="lazy"
        class="object-cover w-full h-full"
      />
    </div>
  </div>
  <div class="w-full lg:w-3/4 xs:mb-3">
    <h3 class="mb-2 text-lg font-semibold text-heading group-hover:text-purple ease-in duration-100">
      <a href={href[0]} target="_blank" rel="noreferrer noopener" aria-label={`Visit ${title} (open in a new tab)`} class="flex gap-x-[6px]">
        {title}
        <span class="group/link absolute w-full h-full top-0 left-0 rounded-md ease-in duration-100 group-hover:bg-purple group-hover:bg-opacity-10">
        </span>
        <span>
          <i aria-hidden="true" class="fa-solid fa-arrow-right -rotate-45 text-xs ease-in duration-100 group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"></i>
        </span>
      </a>
    </h3>    
    <p class="mb-2 text-sm">
      {description}
    </p>
    <ul class="mb-4 flex flex-wrap gap-x-4 gap-y-3" aria-label="Related links">
      {
        href.length > 1 && (
          <>
            <ButtonExternalXS
              href={href[1]}
              aria-label="Visit GitHub Repository">
              Github
            </ButtonExternalXS>

            <ButtonExternalXS href={href[2]} aria-label="Visit Personal Project GitHub Repository">
              Personal Project Github
            </ButtonExternalXS>
          </>
        )
      }
    </ul>
    <ul class="flex flex-wrap gap-2" aria-label="Technologies used">
      {
        tech.map((el) => (
            <PillsTech>{el}</PillsTech>
        ))
      }
    </ul>
  </div>
</li>
