---
import PillsTech from "../Pills/Pills_Tech.astro";

interface Props {
  date: string;
  role: string;
  company: string;
  description: string;
  href: string;
  tech?: string[];
}

const { date, role, company, description, href, tech } = Astro.props;
---

<li class="group relative flex flex-col md:flex-row gap-x-6 py-5 lg:px-6 rounded-md z-10">
  <div class="-z-10 absolute w-[110%] lg:w-full h-full top-0 -inset-x-4 lg:left-0 rounded-md ease-in duration-100 group-hover:bg-purple group-hover:bg-opacity-10"></div>
  <div class="w-full lg:w-1/5"><p class="text-xs uppercase mb-2 lg:mt-2 tracking-wide">{date}</p></div>
  <div class="w-full lg:w-4/5">
    <h3 class="mb-2 text-lg font-semibold text-heading group-hover:text-purple ease-in duration-100">
      <a href={href}
      target="_blank"
      rel="noreferrer noopener"
      aria-label={`Visit ${company} (open in a new tab)`}
      >
        {role} · {company}
        <span
          class="group/link absolute w-[110%] lg:w-full h-full top-0 -inset-x-4 lg:left-0 rounded-md">
        </span>
        <span class="pl-1">
          <i
            aria-hidden="true"
            class="fa-solid fa-arrow-right -rotate-45 text-xs ease-in duration-100 group-hover:translate-x-[2px] group-hover:-translate-y-[2px]"
          ></i>
        </span>
      </a>
    </h3>
    <p class="mb-4 text-sm">
      {description}
    </p>
    <ul class="flex flex-wrap gap-2">
      {tech?.map((el) => <PillsTech>{el}</PillsTech>)}
    </ul>
  </div>
</li>
