---
import { formatDate } from '../../utils/datePretty.ts'
import PillsTech from '../utils/Pills/Pills_Tech.astro'
import type { ProjectProps } from '../../types/interfaces'

const { date, title, description, href, tech } =
  Astro.props as ProjectProps
const prettyDate = formatDate(date)
---

<tr class="flex flex-col lg:table-row py-6 lg:border-b lg:border-zinc-300 last:border-none">
  <td class="pb-2 lg:py-4 lg:pr-4 align-top text-sm">{prettyDate}</td>
  <td class="pb-2 lg:py-4 lg:pr-4 align-top font-medium leading-snug text-heading">
    <div class="text-lg">{title}</div>
  </td>
  <td class="pb-2 lg:py-4 lg:pr-4 align-top text-sm">{description}</td
  >
  <td class="pb-2 lg:py-4 lg:pr-4 align-top text-sm"
    ><ul class="flex flex-wrap gap-2">
      {tech.map((el) => <PillsTech>{el}</PillsTech>)}
    </ul></td
  >
  <td class="lg:py-4 align-top text-sm font-medium">
    {
      href[0] !== '' && (
        <a href={href[0]} target="_blank" class="hover:text-purple">
          <span>
            <i
              aria-hidden="true"
              class="fa-solid fa-arrow-up-right-from-square align-bottom text-lg ease-in duration-100 pl-[6px] hover:text-purple"
            />
          </span>
        </a>
      )
    }
    {
      href[1] !== '' && (
        <a href={href[1]} target="_blank" class="hover:text-purple">
          <span>
            <i
              aria-hidden="true"
              class="fa-brands fa-github align-bottom text-lg ease-in duration-100 pl-[6px] hover:text-purple"
            />
          </span>
        </a>
      )
    }
  </td>
</tr>
