---
import PillsTech from "../utils/Pills/Pills_Tech.astro";

interface Props {
  date?: string;
  title: string;
  description?: string;
  company?: string;
  image?: string;
  href: string;
  hrefPreview: string;
  tech: string[];
}

const { date, title, company, href, hrefPreview, tech } = Astro.props;
---

<tr class="border-b border-zinc-300 last:border-none">
  <td class="py-4 pr-4 align-top text-sm">{date}</td>
  <td class="py-4 pr-4 align-top font-medium leading-snug text-heading"
    >
    <div class="hidden sm:block">{title}</div>
    <div class="block sm:hidden"><a href={href} target="_blank">{title}<span
      ><i
        aria-hidden="true"
        class="fa-solid fa-arrow-right align-bottom -rotate-45 text-xs ease-in duration-100 pl-[6px] group-hover:translate-x-[2px] group-hover:-translate-y-[2px] group-hover:text-purple"
      ></i></span
    ></a></div>
    </td
  >
  <td class="hidden py-4 pr-4 align-top text-sm lg:table-cell">{company}</td>
  <td class="hidden py-4 pr-4 align-top text-sm lg:table-cell"
    ><ul class="flex flex-wrap gap-2">
      {tech.map((el) => <PillsTech>{el}</PillsTech>)}
    </ul></td
  >
  <td class="group hidden py-4 align-top text-sm font-medium sm:table-cell">
    <a href={href} target="_blank" class="group-hover:text-purple"
      >{hrefPreview}<span
        ><i
          aria-hidden="true"
          class="fa-solid fa-arrow-right align-bottom -rotate-45 text-xs ease-in duration-100 pl-[6px] group-hover:translate-x-[2px] group-hover:-translate-y-[2px] group-hover:text-purple"
        ></i></span
      ></a
    >
  </td>
</tr>

<script>
  const { date, title, company, href, hrefPreview, tech } = Astro.props;
  const prettyDate = new Date(date).toLocaleDateString();
{console.log(typeof date);
}

</script>